body {
  font-family: helvetica;
  text-align: center;
}

#heading,
h4 {
    background-image: url("../images/flatiron.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
#nav,
#footer {
  color: white;
}

#nav a:link,
#nav a:visited {
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

#nav {
  font-size: 18px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

#content {
  font-size: 14px;
}

h4 {
  font-size: 23px;
  font-weight: bold;
}

#footer {
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}

#footer a:link,
#footer a:visited {
  color: white;
}
